.container {
  flex-direction: column;
}

.QuoteCard {
  display: flex;
  margin: 20px auto;
  padding: 1.25em;
  width: 400px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
}

.QuoteCard figcaption {
  width: 100%;
}

.QuoteCard img {
  display: flex;
  max-height: 120px;
  margin-right: 1.5rem;
}

.QuoteCard blockquote {
  margin: 10px 0;
}

.QuoteCard figcaption cite {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.btn-style {
  padding:6px 0 6px 0;
font:bold 13px Arial;
background:whitesmoke;
color:#555;
border-radius:2px;
width:100px;
border:1px solid #ccc;
box-shadow:1px 1px 3px #999;
}